$primary: hsl(322, 100%, 66%);
$secondary: hsl(265, 100%, 66%);
$neutralLight:hsl(214, 64%, 98%);
$neutralMid: hsl(208, 11%, 55%);
$neutralDark: hsl(192, 100%, 9%);

body{
    max-width: 1440px;
    min-width: 375px;
    font-size: 18px;
}
h2{
    font-family: Poppins; 
    font-weight: 700;
}
